@model IEnumerable<WordLists.Models.ApprovedWord>

@{
    ViewBag.Title = "Approved Words";
}

<h5>Approved Words</h5>

@using (Html.BeginForm())
{
     <p>
        @Html.DropDownList("ClientFilter", (SelectList)ViewBag.ClientList, (string)ViewBag.DefaultClientName, new { onchange = "this.form.submit();", @class = "form-control-sm", @style = "display:inline;" })    @Html.DropDownList("VersionFilter", (SelectList)ViewBag.VersionList, (String)ViewBag.DefaultListName, new { onchange = "this.form.submit();", @class = "form-control-sm", @style = "display:inline;" }) @Html.DropDownList("LengthFilter", (SelectList)ViewBag.WordLengths, "- All Lengths -", new { onchange = "this.form.submit();", @class = "form-control-sm", @style = "display:inline;" })
        
        @*@Html.TextBox("SearchString", null, new { @class = "form-control-sm", @style = "display:inline;" })*@
        @*<input type="submit" value="Search" class="btn btn-sm" />*@
    </p>
}
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@if (ViewBag.CanEdit)
{
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.ListName.Id)
            </th>*@
            <th>
               @Html.ActionLink("Words", "Index", new { sortOrder = ViewBag.WordSort })  @ViewBag.wordCount
            </th>
           <th>
               <div>
                   @Html.ActionLink("<  Add  >", "Create", "ApprovedWords")
               </div>
           </th>
        </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.ListName.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </table>

}