@model WordLists.Models.ListName

@*@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>*@

<div>
    <h4>List Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.listName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRejected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRejected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Archive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Archive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
